
<div class="brand_name">*Name</div> <br/>  <%= f.text_field :name %><br/><br/><br/><br/>
<div class="brand_name">*Purpose</div><br/>
<%= f.select(:purpose_id, Purpose.all.map{|p|[p.name, p.id]},:prompt=>"Select one") %>
<br/><br/><br/><br/>

<div class="alert_dialog hidden">
  <div class="title" style="margin-left: 14px;"> Do you want to save your changes otherwise<br/> it will be lost ?</div>
  <div class="message-text"> </div>
  <div class="con_links">
    <%= link_to "Cancel", '#',:onclick=>"closeIt();",  :id => 'add_coupan', :style=>'margin: 7px 0 0 312px;' %>
    <%= link_to "Confirm", templates_path,  :id => 'add_coupan', :style=>'margin: 45px 0px 0px 35px;' %>
  </div>
</div>
<div class="contect_area">
  <div class="brand_name">Content Area</div><br/>
  <%= f.text_area :content, :style=>"width: 100%;height: 100%;" %>
</div>
<br/><br/>
<style type="text/css">
  .nicEdit-main ol li{
    list-style:  inherit;
  }
  .nicEdit-main ul li{
    list-style:  inherit;
  }
  a:hover {
    color : #8BC541
  }
  a {
    color : #C3C6C5
  }
  .container footer {
    margin-top: 1px;
  }
  .search1 {
    display: none;
  }

  select,input[type="file"]{
    width: 260px;
  }
</style>
<script type="text/javascript">
  function closeIt(e){
    $('.alert_dialog').addClass('hidden');
    e.preventDefault();
  }
</script>
