<%= javascript_include_tag "nicEdit" %>
<%= javascript_include_tag "ZeroClipboard" %>
<script type="text/javascript">
  //<![CDATA[
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
  //]]>
  ZeroClipboard.setMoviePath( '/assets/ZeroClipboard.swf' );

</script>
<div style="float: right;margin-right:10px; margin-top: -18px;">
    <%= link_to "All Email Templates",  templates_path, :id=>"add_coupan" %>
  </div>
<%= render :partial=> 'templates/scripts' %>

<div class="content" style="float: none;">


  <h2 style="font-size: 18px;color: #939598;font-weight: bold;">NEW TEMPLATE</h2>

  <%= form_for(@template, :path=>templates_path) do |f| %>
    <%= render :partial=>"form", :locals=>{:f=>f} %>
    <%= f.submit "Create", :id=>"add_coupan" %>
    <%= link_to "Cancel", templates_path, :id=>"add_coupan" %>
  <% end %>
  <%= render :partial=>'templates/clipboard_text' %>

</div>

<style type="text/css">
  .container footer {
    margin-top: 35px;
  }
</style>