<ul id="folder_ads_carousel">
  <% if !@group_ads.nil? %>
    <% @group_ads.each do |ad| %>
      <% if ad.status == true %>
        <li>
          <div class = "options">
            <% if current_user.admin? %>
              <div class="top-options">
                <%= link_to "share", ad_path(ad.id), :class => 'share outline_remove' %>
                <%= link_to "move", ad_path(ad.id), :class => 'move outline_remove' %>
                <%= link_to "delete", ad_path(ad.id), :class => 'delete outline_remove' %>
              </div>
              <div class="bottom-options">
                <%= link_to "more from brand","/follow_brand?ad_id=#{ad.id}", :class => 'follow_brand outline_remove' %>
                <%= link_to "rate it",ad_path(ad.id), :class => 'rate hidden outline_remove' %>
              </div>
            <% elsif ad.user_ad? || ad.group.permanent? %>
              <div class="top-options">
                <%= link_to "share", ad_path(ad.id), :class => 'share outline_remove' %>
                 <%= link_to "move", ad_path(ad.id), :class => 'move outline_remove' %>
                <%= link_to "delete", ad_path(ad.id), :class => 'delete outline_remove' %>
              </div>
              <div class="bottom-options">
                <%= link_to "more from brand","/follow_brand?ad_id=#{ad.id}", :class => 'follow_brand outline_remove' %>
                <%= link_to "rate it",ad_path(ad.id), :class => 'rate hidden outline_remove' %>
              </div>
            <% else %>
              <div class="top-options">
                <%= link_to "share", ad_path(ad.id), :class => 'share outline_remove' %>
                <%= link_to "move", ad_path(ad.id), :class => 'move outline_remove' %>
                <%= link_to "delete", ad_path(ad.id), :class => 'delete outline_remove' %>
              </div>
              <div class="bottom-options">
        <%#= link_to "more from brand","/follow_brand?ad_id=#{ad.id}", :class => 'follow_brand' %>
                <%= link_to "rate it",ad_path(ad.id), :class => 'rate hidden outline_remove' %>
              </div>
            <% end %>
            <div class="share_dialog hidden outline_remove">
              <div class="message" style="color: #7EBE57;font-size: 25px;margin-left: 75px;margin-top: 17px;">Share</div>
              <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F'<%=ad_url(ad.id)%>'&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=recommend&amp;height=21&amp;appId=148204908657714" scrolling="no" frameborder="0" style="border:none;margin-left:70px;margin-top:43px; overflow:hidden; width:200px; height:21px;" allowTransparency="true" ></iframe>
              <div class="twitter-share">
                <!-- twitter -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this cool offer from MyFabTab. I think you are going to like it! <%= ad_url(ad.id) %>" data-size="large" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
            </div>
          </div>
          <div class="ad_image">
            <% if ad.ad_type == "video" %>
              <iframe src="<%= ad.image_url %>" width="210" height="160" border="none"></iframe>
            <% else %>
              <% if ad.ad_type == "url" %>
          <%#= image_tag '/assets/default_for_scanit.png', :class => 'folder-images' %>
                <% @url = ad.url %>
                <%= link_to image_tag(ad.image_url, :size => "215x182"), '#' , :onClick=>"window.open('#{ ad.url }','pagename','resizable,height=450,width=600');" %>
          <%#= link_to "",URI.decode(ad.url), :target => '_blank' , :class => "ads_link" %>
              <% else %>
                <% if !ad.url.nil? %>
                  <%= link_to image_tag(ad.image_url), '#' , :onClick=>"window.open('#{ ad.url }','pagename','resizable,height=450,width=600');" %>
                <% elsif !ad.image_url.nil? %>
                  <%= link_to image_tag(ad.image_url), '#', :onClick=>"window.open('#{ ad.image_url }','pagename','resizable,height=450,width=600');" %>
                <% end %>
          <%#= link_to image_tag(ad.image_url), URI.decode(ad.url || ad.image_url), :target => '_blank' %>
              <% end %>
            <% end %>
          </div>
          <div class="ad-details">
            <div class="image-url">
              <% if !ad.url.nil? %>
                <%= URI.parse(URI.encode(ad.url)).host %>
              <% elsif !ad.image_url.nil? %>
                <%= URI.parse(URI.encode(ad.image_url)).host %>
              <% end %>
      <%#= URI.parse(URI.encode(ad.url)).host || URI.parse(URI.encode(ad.image_url)).host %>
            </div>
            <% @offer = Offer.find_by_ad_id(ad.id) %>
            <% if !@offer.nil? %>
              <div class="folder-name outline_remove"><%= @offer.name%></div>
            <% end %>
          </div>
          <div class="rating_dialog hidden outline_remove">
            <div class="title">Rate It.</div>
            <%= ratings_for ad, current_user, :show_user_rating => true %>
          </div>

        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
<div class="delete_dialog hidden">
  <div class="title">Delete.</div>
  <div class="message-text">Delete this FabTab?</div>
  <%= link_to "Delete", "#", :class => 'delete_tab outline_remove' %>
</div>


<div class="move_dialog hidden outline_remove">
  <div class="message">Move.</div>
  <%= form_tag(url_for(:controller => 'ads', :method => :put)) do %>
    <%= select_tag "category", options_from_collection_for_select(@category, "id", "name"), :prompt => "Select a category" %>
    <div class="cancel">cancel tab <%= link_to image_tag('/assets/icon_delete.png'), '#' %></div>
    <%= link_to "Save", '#', :class => 'save' %>
  <% end %>
</div>

<div class="follow_brand_dialog hidden outline_remove">
  <div class="title">More?</div>
  <div class="message">Do you want more fabtabs from this brand?</div>
  <%= form_tag url_for(:controller => 'users', :action => 'follow_brand') do %>
    <%= link_to image_tag('/assets/btn_confirm.png'), "#", :class => 'confirm_follower' %>
  <% end %>
</div>


<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '148204908657714', // App ID
      channelUrl : 'http://fabtab.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
  }(document));
</script>
