<h1 class="title right-portion header-font">My <span>Settings</span></h1>
<div class="user-details right-portion">
  <%= form_for @user, :html => { :id => 'edit_user' }, :action => 'update' do |f| %>
    <div class="white-background">
      <div class="field-name name">
        <span class="field-label">Name</span> <div class="field">
          <span class="display_field"><%= current_user.full_name %></span>
          <span class="edit_field hidden"><%= text_field_tag 'user[full_name]', current_user.full_name %></span>
        </div>
        <%= link_to 'edit', "#", :class => 'edit' %>
        <%= link_to "cancel", "#", :class => 'cancel', :style => 'display:none' %>
        <%= submit_tag 'save', :class => 'save btn success small' , :style => 'display:none'%>
      </div>
    </div>
    <div class="gray-background">
      <div class="field-name email"><span class="field-label">Email</span>
        <div class="field">
          <span class="display_field"><%= current_user.email %></span>
          <span class="edit_field hidden"><%= f.text_field :email %></span>
        </div>
        <%= link_to 'edit', "#", :class => 'edit' %>
        <%= link_to "cancel", "#", :class => 'cancel', :style => 'display:none' %>
        <%= f.submit 'save', :class => 'save btn success small' , :style => 'display:none'%>
      </div>
    </div>
    <div class="white-background">
      <div class="field-name password">
        <span class="field-label">Password</span>
        <div class="field">
          <span class="display_field"></span>
          <span class="edit_field hidden"><%= f.password_field :password, :autocomplete => "off" ,:style=>'width: 100px;' %><%= f.password_field :password_confirmation,:style=>'width: 100px;' %></span>
        </div>
        <%= link_to 'edit', "#", :class => 'edit' %>
        <%= link_to "cancel", "#", :class => 'cancel', :style => 'display:none' %>
        <%= f.submit 'save', :class => 'save btn success small' , :style => 'display:none'%>
      </div>
    </div>
    <div class="gray-background">
      <div class="field-name zipcode">
        <span class="field-label">Zip Code</span>
        <div class="field">
          <span class="display_field"><%= current_user.zipcode %></span>
          <span class="edit_field hidden"><%= f.text_field :zipcode %></span>

        </div>
        <%= link_to 'edit', "#", :class => 'edit' %>
        <%= link_to "cancel", "#", :class => 'cancel', :style => 'display:none' %>
        <%= f.submit 'save', :class => 'save btn success small' , :style => 'display:none'%>

      </div>
    </div>
    <div class="white-background">
      <div class="field-name username">
        <span class="field-label">Username</span>
        <div class="field username">
          <span class="display_field"><%= current_user.username.to_s %></span>
          <span class="edit_field hidden"><%= f.text_field :username %></span>
        </div>
        <%= link_to 'edit', "#", :class => 'edit' %>
        <%= link_to "cancel", "#", :class => 'cancel', :style => 'display:none' %>
        <%= f.submit 'save', :class => 'save btn success small' , :style => 'display:none'%>
      </div>
    </div>
    <div class="gray-background">
      <div class="field-name">
        <span class="field-label">Link to Facebook</span>
        <div class="field">
          <% if @facebook.empty? %>
            <span class="display_field"><%= link_to "Log in", '/users/auth/facebook', :id => 'add_coupan' %></span>
          <% else %>
            <span class="display_field"><%= link_to "Remove Link", authentication_path(@facebook), :method => :delete, :id => 'add_coupan' %></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="white-background">
      <div class="field-name">
        <span class="field-label">Link to Twitter</span>
        <div class="field">
          <% if @twitter.empty? %>
            <span class="display_field"><%= link_to "Log in", '/users/auth/twitter', :id => 'add_coupan' %></span>
          <% else %>
            <span class="display_field"><%= link_to "Remove Link", authentication_path(@twitter), :method => :delete, :id => 'add_coupan' %></span>
          <% end %>
        </div>
      </div>

    </div>
    <div class="Middle_Top"></div>

    <div></div>

  <% end %>
</div>
<style type="text/css">
  .settings .white-background, .about .white-background {
  }
  .settings .gray-background, .about .gray-background {
  }

  .my_setting {
    color: rgb(126, 190, 87);
    font-size: 23px;
    font-weight: bold;
    margin-left: 24px;
    margin-bottom: -41px; margin-top: 12px;
  }
</style>