<h2 class="confirmationHeading">Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="clearfix" style="margin-left:-115px;margin-bottom:1px;"><%= f.label :password, "New password" ,:style => "padding-top:16px;"%><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div class="clearfix" style="margin-left:-115px;margin-bottom:12px;"><%= f.label :password_confirmation, "Confirm new password" ,:style => "padding-top:16px;" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="createAccount" style="margin-left:-120px;"><%= f.submit "Change my password" %></div>
<% end %>
<div style="margin-left:320px;">
<%= render "devise/shared/links" %>
</div>



