<%= form_for @user, :html => {:id => 'user_new'} do |f| %>

  <% if !@user.nil? && @user.errors.any? %>
    <% flash[:notice] = "Email  #{@user.errors.messages[:email].join(',')}" %>
  <% end %>

  <div class="title">Complete the registration by providing your email address</div>
  <div>
    <%= f.email_field :email, :class => 'credentials email', :placeholder => 'type email address here' %></div>

  <div class="submit"><%= f.submit "Sign Up",  :class => 'login_button', :style=>"margin-left: 262px;" %></div>
  <div class="add_text_for_term">By creating an account, I accept<br/>
    MyFabTab's<%= link_to "Terms and Conditions",promo_terms_path, :class=>"term_and_condition_text",:style=>'color:#404040;font-weight:bold;' %></div>
  <%= link_to "Sign in", "/signin", :style=>"margin-left: -2px;",:class => "login_link" %><br />

<% end %>

<style>
  a {
    color : #C3C6C5;
  }
  a:hover{
    color:#8BC541 !important;
  }
  .validation-error{
    display: none;
  }
</style>
<script type="text/javascript">
  $('.flash_messages1').fadeIn(2000).delay(5000).fadeOut(5000);
</script>