<% content_for :head do %>
  <%= javascript_include_tag 'welcome' %>
<% end %>

<div class="content">
  <div class="row section optin_ads carousel">
    <div class="title">
      <div class="all-myfabtabs header-font">&gt; All My <span><a href="/groups">Fabtabs</a></span></div>
    </div>
    <ul id='optin_ads_carousel'>
      <% @user_folders.each do |user_folder| %>
        <% if user_folder.ads.count > 0 %>
          <% if user_folder.brand_folder? %>
            <li class="group" data-folder="<%= user_folder.brand.name %>">
              <div class="super_folder">
                <%= link_to image_tag(user_folder.brand.logo.url(:super_folder)), brand_path(user_folder.brand) %>
              </div>
              <div class="folder-category"><%= user_folder.brand.name %></div>
            </li>
          <% else %>
            <li class="group" data-folder="<%#= user_folder.category.name %>">
              <% unless user_folder.permanent? %>
                <%= link_to "Edit", home_render_div_path(:user_folder=>user_folder.id) , :remote=>true, :class => 'edit-buttons hidden', :style => "outline:medium none !important" %>
              <% end %>
              <a href="<%= group_path(user_folder.id) %>">
                <div class="folder" id="folder_<%= user_folder.id %>">
                  <div class="folder-content">
                    <% user_folder.ads.reverse_order.limit(4).each do |ad| %>
                      <% if ad.status == true %>
                        <div class="image">
                          <% if ad.ad_type == "video" %>
                            <%= image_tag video_thumbnail(ad), :class => 'folder-images' %>
                          <% else %>
                            <% if ad.ad_type == "url" %>

                              <%= image_tag ad.image_url, :class => 'folder-images' %>
              <%#= image_tag '/assets/default_for_scanit.png', :class => 'folder-images' %>
                            <% else %>
                              <%= image_tag ad.image_url, :class => 'folder-images' %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </a>
              <% if !user_folder.category_id.nil? %>
              <div class="folder-category"><%= category_or_title_name(user_folder) %></div>
              <% end %>
              <div id="user_folder_<%=user_folder.id %>" class="show_it" style="margin: -1px 2px; top: 263px;"></div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class='row section saved_ads carousel'>
    <div class="title header-font">What <span>Everyone's Tabbing</span></div>
    <ul id="saved_ads_carousel" style="margin-left:24px;">
    </ul>

    <ul style="display:none">
      <li class="template saved_ad">
        <div class="ad_image hidden">
          <img src="/assets/mft_logo.png" alt="image" />
        </div>
        <div class="ad_details hidden">
          <div class="site"></div>
          <%= hidden_field_tag 'url' %>
          <%= hidden_field_tag 'ad_type' %>
          <div class="user">user: <span></span></div>
        </div>
        <%= link_to image_tag('/assets/btn_tabit.png'), '#', :class => 'tabit-button hidden' %>
        <%= link_to_function image_tag('/assets/repot_it.png',:height => "35px"), "return flag(this)", :class => 'flag-button hidden', :style=>'margin-left:63px;
margin-top:-91px;' %>
        <% if current_user.admin %>
  <%#= link_to_function image_tag('/assets/remove1.jpeg',:width => "40px",:height => "40px", :style=>"margin: 15px 8px 0px 12px; width: 27px; height: 27px;"), "return remove(this)", :class => 'remove-button hidden' %>
          <%= link_to_function image_tag('/assets/TRASH_ICON.png',:width => "40px",:height => "40px", :style=>"margin: 9px 8px 0px 0px; width: 40px; height: 40px;"), "return delete_alert_box(this)", :class => 'remove-button hidden' %>
          <div class="delete_dialog" style="display:none;">
            <div class="close" style="margin: 12px 24px;">X</div>
            <div class="title" style="margin-left: 7px;"> Delete</div>
            <div class="message-text"> Delete this Offer?</div>
            <%= link_to_function "Delete", "return remove_offer(this)", :class => 'delete_tab' %>
          </div>
        <% end %>
      </li>
    </ul>

    <div class="tabit_dialog hidden">
      <div class="message">TabIt.</div>
      <%= form_for @ad, :url => url_for(:controller=>:ads, :action=>:save), :method => :post do %>
        <%= select_tag "category", options_from_collection_for_select(@category, "id", "name"), :prompt => "Select a category" %>
        <%= hidden_field_tag "ad[url]"%>
        <%= hidden_field_tag "ad[image_url]" %>
        <%= hidden_field_tag "ad[ad_type]" %>
        <%= hidden_field_tag :email, current_user.email %>
        <div class="cancel">cancel tab <%= link_to image_tag('/assets/icon_delete.png'), '#' %></div>
        <%= link_to image_tag('/assets/save.png'), '#', :class => 'tabit' %>
      <% end %>

    </div>
  </div>
</div>

<script>
  var page_count = 1;
  $(".next").live('click',function() {
    var next_id =  $(this).parent().attr("id");
    page_count = page_count +1;
    if (next_id == 'temp_pagination'){
      jQuery.ajax({
        url : "/my/sample/ind",
        type : "POST",
        data : {
          "data_id" : page_count-1
        },
        success : function(data) {
          // alert('hii');
          //alert(data);
          var html = "";

          if( data.length > 0 ){
            for(i=0;i<data.length;i++){
              // html+="<li class='saved_ad' style='display: list-item;'>"+ data[i].id +"</li>";
              $("#saved_ads_carousel li[style*='list-item']:last").hide();
              var adDetails = $('.template').clone();
              adDetails.children('div').removeClass('hidden');
              adDetails.removeClass('template');
              if (data[i].status == true)
              {
                if ( data[i].ad_type == 'video'){
                  adDetails.find('.ad_image').append("<iframe src="+ data[i].image_url +" width=216 height=180 border='none'></iframe>");
                  adDetails.find('.ad_image img').hide();
                }else {
                  adDetails.find('img')[0].src = data[i].image_url;
                }
                adDetails.find('.site')[0].innerHTML = decodeURIComponent(data[i].url).split('/')[2];
                adDetails.find('#url:first').val(function(){
                  return data[i].url;
                });
                adDetails.find('#ad_type:first').val(function(){
                  return data[i].ad_type;
                });
                adDetails.find('.flag-button:first').attr('id', data[i].id);
                adDetails.find('.remove-button:first').attr('id', data[i].id);

                if(data[i].group.user){
                  adDetails.find('.user span')[0].innerHTML = data[i].group.user.nickname;
                  $('#saved_ads_carousel').prepend(adDetails);
                }
              }
            }
            $('#temp_pagination').remove();
            var paginate = $('#saved_ads_carousel').easyPaginate({
              page: page_count,
              step: 4,
              controls: 'temp_pagination',
              temp: false
            });
            paginate.show();
          }
          //  $("#saved_ads_carousel").html(html);
        }
      })
    }
  });

  $('.group').on('mouseenter',function(){
    var self = this;
    var edit_box = $(self).children('.edit-buttons');
    edit_box.removeClass('hidden');
  })
  $('.group').on('mouseleave',function(){
  //  $('.edit_dialogs').css('display','none');
    var self = this;
    var edit_box = $(self).children('.edit-buttons');
    edit_box.addClass('hidden');
  })

</script>


