<%= stylesheet_link_tag 'settings' %>
<style type="text/css">
  .grid_clz { display: none; }
  .list_clz { display: none; }
</style>

<div id="groupads1">
  <div style="height: 50px;">
    <div style="float: right; margin-right: 37px;">
      <%= link_to "Category List",setting_category_list_path, :style=>"font-size: 18px;color: #939598;" %>
<%#= link_to "flag",setting_flag_ads_path,:id => "add_coupan", :remote => "true" %>

      <%=radio_button_tag 'group1', 'gridview' %> Grid View
      <%=radio_button_tag 'group1', 'listview' %> LIst View

    </div>
    <div style="margin-left: 30px;font-size: 18px;color: #939598;"> OFFERS MANAGEMENT</div>
    <div style="float: right;margin-top: -74px; margin-right: -286px;">
      <%= link_to "Back",admin_edit_path, :id => 'add_coupan' %>
    </div>
  </div>
  <div id="gridview" class="<%= @gridview %>" style="height: 730px;overflow-x: hidden;overflow-y: scroll;">
    <ul id="folder_ads_carousel1" style="height:200px;">
      <% @ads.each do |ad| %>
        <%  if !ad.nil? %>
          <%  @user = User.where("id = ?",ad.user_id) %>
          <% @user.each do|user| %>
            <li style="float:left;height: 200px;width: 210px;margin: 5px 5px 5px 5px;">
              <div class="options1">
      <%#= link_to "delete", ad_path(ad.id),:method=>:delete, :class => 'delete_ad', :style=>"margin: -42px 7px 20px 72px;" %>
                <%= link_to "delete", "#",:onclick=>"$('#hidden_delete_box_#{ad.id}').css('display','block');" ,:class => 'delete_ad', :style=>"margin: -42px 7px 20px 70px;" %></td>
                <div class="delete_dialog hidden" id="hidden_delete_box_<%=  ad.id %>">
                  <div class="close" style="margin: 12px 24px;">X</div>
                  <div class="title" style="margin-left: 7px;"> Delete</div>
                  <div class="message-text"> Delete this Ad?</div>
                  <%= link_to "Delete", ad_path(ad.id), :method=>'delete', :class => 'delete_tab' %>
                </div>
              </div>
              <div class="ad_image">
                <% if ad.ad_type == "video" %>
                  <iframe src="<%= ad.image_url %>" width="210" height="160" border="none"></iframe>
                <% else %>
                  <% if ad.flag == true %>
                    <% if ad.ad_type == "url" %>
                      <% @url = ad.url %>
                      <%= link_to image_tag(ad.image_url, :size => "215x182"), '#'  %>
                      <div style=" text-align: right;margin-top: -14px;">
                        <%= image_tag("/assets/flag.png",:width => "30px",:height => "30px") %>
                        User:  <%= user.nickname %>
                        Email:  <%= user.email %></div>
                    <% else %>
                      <% if !ad.url.nil? %>
                        <%= link_to image_tag(ad.image_url,:width=>"210px",:height => "200px"), '#', :onClick=>"window.open('#{ ad.url }','pagename','resizable,height=450,width=600');"  %>
                        <div style=" text-align: right;margin-top: -14px;">
                          <%= image_tag("/assets/flag.png",:width => "30px",:height => "30px") %>
                          User:  <%= user.nickname %>
                          Email:  <%= user.email %></div>
                      <% elsif !ad.image_url.nil? %>
                        <%= link_to image_tag(ad.image_url,:width=>"210px",:height => "200px"), URI.decode(ad.image_url), :target => '_blank' %>
                        <div style=" text-align: right;margin-top: -14px;">
                          <%= image_tag("/assets/flag.png",:width => "30px",:height => "30px") %>
                          User:  <%= user.nickname %>
                          Email:  <%= user.email %></div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if ad.ad_type == "url" %>
                      <% @url = ad.url %>
                      <%= link_to image_tag(ad.image_url, :size => "215x182"), '#'  %>
                      <div style=" text-align: right;">User:  <%= user.nickname %></div>
                      <div style=" text-align: right;">Email:  <%= user.email %></div>
                    <% else %>
                      <% if !ad.url.nil? %>
                        <%= link_to image_tag(ad.image_url,:width=>"210px",:height => "200px"), '#', :onClick=>"window.open('#{ ad.url }','pagename','resizable,height=450,width=600');"  %>
                        <div style=" text-align: right;">User:  <%= user.nickname %></div>
                        <div style=" text-align: right;">Email:  <%= user.email %></div>
                      <% elsif !ad.image_url.nil? %>
                        <%= link_to image_tag(ad.image_url,:width=>"210px",:height => "200px"), URI.decode(ad.image_url), :target => '_blank' %>
                        <div style=" text-align: right;">User:  <%= user.nickname %></div>
                        <div style=" text-align: right;">Email:  <%= user.email %></div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="rows" id="header_list" style="display:none;">
    <div  style="padding-left: 11px; margin-right: 28px; float: left;"><%= check_box_tag "ad_id[]",@ads ,false ,:id => "select_all"%></div>
    <div style="float:left;margin-right: 41px;">Image</div>
    <div style="margin-right: 41px; padding-left: 0px; width: 71px; float: left; border-left-width: 0px; margin-left: -7px;">User Name</div>
    <div style="float: left; margin-right: 128px; padding-left: 2px; margin-left: 0px; width: 33px;"> Email</div>
    <div style="float: left; margin-right: 20px; margin-left: 13px; padding-left: 2px;">Report It! Status</div>
    <div style="float:left;margin-right: 36px;">Report It! Time</div>
    <div style="float: left; margin-right: 28px; margin-left: 24px;">Notification Link</div>
    <div style="float:left;margin-right: 16px;">Actions</div>
    <div style="float: left; margin-left: 13px;">Status</div>
  </div>

  <br/>
  <br/>
  <div id="listview" class="<%= @listview %>" style="height: 709px;overflow-x: hidden;overflow-y: scroll;">
    <%= render :partial => "listview_ads",:locals => {:ads => @ads} %>
  </div>
</div>  
<%#*<div>%>
<%#= paginate @ads %>
<%#*</div>%>




<script>
  var grid_list_cls = '<%= @listview %>' + '<%= @gridview %>';
  
  $('#groupads1').on({
    mouseenter: function() {
      $(this).find('.delete_ad').show();
    },
    mouseleave: function(){
      $(this).find('.delete_ad').hide();
    }
  },'#folder_ads_carousel1 li');
  $('#groupads1').on('click','#folder_ads_carousel1 li .delete1',function(){
    var link = this;
    $('.delete_dialog').clone().appendTo($(this).parent());
    var dialog = $(this).parent().find(".delete_dialog:first");
    dialog.removeClass('hidden');
    dialog.children('.delete_tab').click(function(){
      $.ajax({
        url: $(link).attr('href'),
        type: 'DELETE',
        success: function(data,textStatus,jqXHR){
          $(link).parents('li:first').remove();
          return false;
        }
      });
      return false;
    });
    return false;
  });
  $('#group1_gridview').click(function(){
    $('input[name="group2"]').attr('checked',false);
    $('#header_list').hide();
    $('#listview').hide();
    $('#gridview').show();
    grid_list_cls = 'list_clz';
  });
  $('#group1_listview').click(function(){
    $("group1_listview").attr('checked',true);
    $('#gridview').hide();
    $('#header_list').show();
    $('#listview').show();
    grid_list_cls = 'grid_clz';
  });

  $(function(){    
    if('<%= @listview %>'){
      $('#group1_gridview').attr('checked',true);
    }else if('<%= @gridview %>'){
      $('#group1_listview').attr('checked',true);
    }    
  });

  $(".pagination a").live('click', function(e){
    var url = $(this).attr('href') + "&grid_list="+grid_list_cls;
    $(this).attr('href',url);
  });

</script>

<style type="text/css">
  a:hover {
    color : #8BC541
  }
  a {
    color : #C3C6C5
  }
  .container footer {
    margin-top: 132px;
  }
</style>
