<div style="float: right;margin-right: 14px;">
  <%= link_to "Back",admin_edit_path, :id => 'add_coupan' %>
</div>
<table class="noborder">
  <tr>
    <td>
      Category Name
    </td>
    <td>
      User Email
    </td>
    <td>
      Actions
    </td>

  </tr>
  <% @category.each do|category| %>
    <tr>
      <td>
        <%= link_to_function category.name,"return category_name(#{category.id})" %>
      </td>
      <td>
        <% if !category.user.nil? %>
          <%= category.user.email  %>
        <% end %>
      </td>
      <td>
        <%= link_to "Delete",destroy_userscategories_path(category.id) %>
      </td>
    </tr>
    <tr>
      <td>
        <table id="<%= category.id %>" style="display:none;width:215px;height: 100px;overflow:scroll;z-index: 10000004;position: absolute;background-color: white; ">
          <%  @group =  Group.where("category_id = ?",category.id) %>
          <%  @group.each do|group| %>
            <% @ad = Ad.where("group_id = ?",group.id) %>
            <tbody>
              <tr >
                <% @ad.each do|ad| %>
                  <% if ad.status == true %>
                    <td style="float:left;">
                      <%= image_tag(ad.image_url,:width => "50",:height => "50") %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            </tbody>
          <% end %>
        </table>

      </td>
    </tr>
  <% end %>
</table>
<div>
  <%= paginate @category %>
</div>

<script>
  function category_name(cat_id)
  {    
    $('table#'+cat_id).toggle();
  }
 
</script>
