<div style="float: right;margin-right: 14px;">
 <%= link_to "Back",admin_edit_path, :id => 'add_coupan' %> 
</div>
<table class="noborder">
  <tr>
    <td>
      Category Name
    </td>
    <td>
      User Email
    </td>
    <td>
      Actions
    </td>

  </tr>
  <% @category.each do|category| %>
    <tr>
      <td>
        <%= link_to_function category.name,"return category_name(#{category.id})" %>
      </td>
      <td>
        <% if !category.user.nil? %>
          <%= category.user.email  %>
        <% end %>
      </td>
      <td>
        <%= link_to "Delete",destroy_userscategories_path(category.id) %>
      </td>
    </tr>

    <tr>
      <td>
        <div id="<%= category.id %>" style="display:none;">
          <%  @group =  Group.where("category_id = ?",category.id) %>
          <%  @group.each do|group| %>
            <% @ad = Ad.where("group_id = ?",group.id) %>
            <% @ad.each do|ad| %>
              <% if ad.status == true %>
                <%= image_tag(ad.image_url,:width => "50",:height => "50") %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<div>
  <%= paginate @category %>
</div>

<script>
  function category_name(cat_id)
  {    
    $('div#'+cat_id).toggle();
  }
 
</script>
