<div class="content">
  <div class="flash-message"></div>
  <%= form_for @setting do |f| %>
    <div classs="carousel-refersh-time">Carousel Refresh Time(in seconds)</div>
    <%= f.text_field :carousel_refresh %>
    <%= f.submit "Save", :id => "add_coupan" %>
  <% end %>


  <div class="brand-creation" style="margin-top: 12px;">
    <%= link_to "Create a Brand Category Folder", new_brand_path, :id => "add_coupan" %>
  </div>

  <div class="brand-requests">
    <%= link_to "User Requests for Brand Folders", brand_requests_path, :id => "add_coupan" %>
  </div>

  <div class="all-brands">
    <%= link_to "All Brand Folders", brands_path, :id => "add_coupan" %>
  </div>
  <div class="all-brands">
    <%= link_to "Manage Users", setting_users_list_path, :id => "add_coupan" %>
  </div>
  <div class="all-brands">
    <%= link_to "Manage Email Template",templates_path, :id => "add_coupan"%>
  </div>
  <div class="all-brands">
    <%= link_to "Manage Offers", setting_allusersads_path, :id => "add_coupan" %>
  </div>
  <div class="all-brands">
    <%= link_to "Export Users to XLS", setting_users_list_path(format: "xls"), :id => "add_coupan" %>
  </div>
  <div class="all-brands">
    <%= link_to "View User Stats" ,"#", :id => "add_coupan"%>
  </div>

  <div class="demo-creation">
<%#= link_to "Create a demo", new_demo_path, :id => "add_coupan" %>
<%#= link_to "All Demos",demos_path, :id => "add_coupan" %>
<%#= link_to "All Demo Ad images", demo_images_path, :id => "add_coupan"%>
  </div>

  <div class="backup">

<%= link_to "Create Back-up of Database", "/run/dump" , :id=>"add_coupan" %>

<%= link_to "Download Database Dump File", db_path , :id=>"add_coupan" %>



  </div>
<br/>
<%= link_to "Master Password", master_password_path , :id=>"add_coupan" %>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29789450-1']);
  _gaq.push(['_trackPageview']);

  (function(){
    var ga = document.createElement('script'); ga.type =
      'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
      'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>


