<div style="float: right;margin-right: 22px;">
  <%= link_to "All User",'#', :id => 'add_coupan' ,:class=>"alerts" %>
</div>
<h2 style="font-size: 18px;color: #939598;font-weight: normal;margin-top: 28px;margin-left: 3px;">EDIT USER</h2>

<%= form_for @user,:url => url_for(:controller=>:settings, :action=>:update_users), :html => {:id => 'new_brand'} do |f| %>

  <div class="alert_dialog hidden">
    <div class="title" style="margin-left: 14px;"> Do you want to save your changes otherwise<br/> it will be lost ?</div>
    <div class="message-text"> </div>
    <div class="con_links">
      <%= link_to "Cancel", '#',:onclick=>"closeIt();",  :id => 'add_coupan', :style=>'margin: 7px 0 0 312px;' %>
      <%= link_to "Confirm", setting_users_list_path,  :id => 'add_coupan', :style=>'margin: 45px 0px 0px 35px;' %>
    </div>
  </div>

  <div class="brand_name">User Name</div>
  <%= f.text_field :username %>
  <div class="twitter_handle">Email ID </div>
  <%= f.text_field :email %>

  <div class="twitter_handle">Zip Code </div>
  <%= f.text_field :zipcode %>
  <div class="brand_logo">
    <%= f.check_box :admin %>Admin
  </div><br />
  <%= f.submit "Update", :id => "add_coupan" , :class=>'update_me' %>
  <%= link_to "Cancel", '#',:id => "add_coupan" ,:class=>"alerts" %>
<% end %>

<script type="text/javascript">
  $('.alerts').on('click',function(e){
    $('.alert_dialog').removeClass('hidden');

    e.preventDefault();
  });

  function closeIt(e){
    $('.alert_dialog').addClass('hidden');
    e.preventDefault();
  }

</script>