<div style="margin-bottom: 14px;font-size: 18px;color: #939598;margin-top: 37px;margin-left: 5px;">ADD NEW USER</div>
<div style="float: right;margin-right: 11px;margin-top: -39px;">
  <%= link_to "All User",setting_users_list_path, :id => 'add_coupan',:class=>"alerts" %>
</div>

<%= form_for @user,:url => url_for(:controller=>:settings, :action=>:create_users) , :html => {:id => 'new_brand'} do |f| %>
  <%#= f.error_messages %>


  <div class="brand_name">User Name*</div>
  <%= f.text_field :username %>
  <div class="twitter_handle">Email ID*</div>
  <%= f.text_field :email %> <br/>
  <div class="brand_name">Password*</div>
  <%= f.password_field :password  %>
  <div class="brand_logo" style="margin-bottom:10px;">Password Confirmation*</div>
  <%= f.password_field :password_confirmation %>
  <div class="twitter_handle">Zip Code</div>
  <%= f.text_field :zipcode %>
  <div class="brand_logo">
    <%= f.check_box :admin ,:style=>"margin-top:1px;"%> <div style=" margin-bottom: 11px;margin-left: 19px;margin-top: -24px;">Admin</div>
  </div>

  <div>
    <%= f.submit "Create", :id => "add_coupan" , :class=>'update_me' %>
    <%= link_to "Cancel", setting_users_list_path,:id => "add_coupan" ,:class=>"alerts" %>
  </div>
<% end %>

<script type="text/javascript">
  $('.alerts').on('click',function(){
    $(window).bind('beforeunload', function(){
      return 'Are you sure you want to leave?';
    });
  });
  $('.update_me').on('click',function(){
    window.onbeforeunload = null;
  });

</script>
