<%= link_to "Edit",edit_users_path(@user.id),:id => "add_coupan", :style => "float: right;margin-top: -56px; margin-right: 83px;" %>
<%= link_to "Back",setting_users_list_path,:id => "add_coupan", :style => "float: right;margin-top: -56px; margin-right: 10px;" %>

<p>
  <b>User Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @user.zipcode %>
</p>

<p>
  <b>Number offers count:</b>
  <%= @user.offer_count %>
</p>

<p>
  <b>Super Folder Brand Count:</b>
  <%= @user.super_folder %>
</p>

<p>
  <b>Subscribe at:</b>
  <%if !@user.confirmed_at.nil?%>
  <%= @user.confirmed_at.strftime('%d-%^b-%Y %I:%M %p') %>
  <%else%>
  Not Yet Subscribed
  <%end%>
</p>

<p>
  <b>Brand Request Count:</b>
  <%= @user.brand_requests.count %>
</p>
