<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">User Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Zipcode</Data></Cell>
        <Cell><Data ss:Type="String">Admin</Data></Cell>
        <Cell><Data ss:Type="String">Number offers count</Data></Cell>
        <Cell><Data ss:Type="String">Super Folder Brand Count</Data></Cell>
        <Cell><Data ss:Type="String">Brand Request Count</Data></Cell>
        <Cell><Data ss:Type="String">Subscribe at</Data></Cell>
      </Row>
      <% @u.each do |user| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= user.id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.username %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.zipcode %></Data></Cell>
          <Cell><Data ss:Type="String"><% if  user.admin == true %>Yes<%else%>No<%end%></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.offer_count %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.super_folder %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.brand_requests.count %></Data></Cell>
          <Cell>
            <Data ss:Type="String">
              <%if !user.confirmed_at.nil?%>
                <%= user.confirmed_at.strftime('%d-%^b-%Y %I:%M %p') %>
              <%else%>
                Not Yet Subscribed
              <%end%>
            </Data>
          </Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

