
<div class="conf_page" style="float: none; margin-top: 0px; min-height: 655px; margin-left: 275px;">
  <div class="title" style="font-size: 20px;">Resend confirmation instructions</div>
  <%= form_for(@user, :as=> :user, :url => user_confirmation_path(@user), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="clearfix" style="margin-left:-277px;">
      <br/>
      <%= f.email_field :email, :class => 'credentials email', :placeholder => 'type email address here' %>
    </div>

    <div class="createAccount" style="margin-left:-433px;"><%= f.submit "Resend confirmation instructions", :style=>"margin-left: 156px;" %></div>
  <% end %>

  <%- if controller_name != 'sessions' %>
    <%= link_to "Sign in", new_session_path(resource_name), :style=>"margin-left: -2px;" %><br />
  <% end -%>
</div>
<style type="text/css">
  a:hover {
    color : #8BC541;
    margin: 0 3px;
  }
  a {
    color : #C3C6C5;
    margin: 0 3px;
  }

  #error_explanation {
    margin-left: -274px;
    margin-right: -200px;
  }
</style>


