<div style="margin-left:35px;">
  <div class="login_links color_text" style="margin-left: 242px; font-size: 20px;color : '#404040' !important">Please complete your account setup</div>
  <%= form_for(@user, :as=> :user, :url => confirm_user_path, :html => { :method => :post }) do |f| %>
    <% unless flash[:error].nil? %>
      <ul>
        <% flash[:error].each do |error| %>
          <li class="errors" style=" margin-left: 67px;"><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <div style="margin-left: -185px;">
      <div class="clearfix" style="margin-bottom:0px;">

        <div id="user_new"><%= f.email_field :email,:class => 'credentials email',:readonly => "true" %></div>
        <%= f.hidden_field :confirmation_token %>
      </div>

      <div class="clearfix" style="margin-bottom:0px;">
        <div id="user_new"><%= f.password_field :password , :class => 'credentials password', :placeholder => 'password'%></div>
      </div>

      <div class="clearfix" style="margin-bottom:0px;">

        <div id="user_new"><%= f.password_field :password_confirmation, :class => 'credentials password', :placeholder => 'password confirmation'  %></div>
      </div>
    </div>

    <div class="createAccount" ><%= f.submit "Create account" , :style=>" margin-left: 288px !important;"%></div>
  <% end %>
</div>
<style type="text/css">
  .color_text {
    color : '#404040' !important;
  }
</style>
<script type="text/javascript">
  $('.flash_messages1').fadeIn(2000).delay(5000).fadeOut(5000);
</script>