<div style="margin-right:10px;float:right;margin-top: 13px;"> <%= link_to "Back to All Brands", brands_path, :id => "add_coupan" %></div>
 <h2 style="font-size: 18px;color: #939598;font-weight: normal;margin-left:14px;margin-top: 10px;margin-left: 3px;">EDIT BRAND CATEGORY</h2>

<div class="content edit_brand">
  <div class="left">
    <%= form_for @brand do |f| %>
    <!--   <table style="border:none;">
        <tr>
         <td style="border:none;"> -->
            <div class="brand_name" style="font-size: 100%;font-weight: normal;">
              Brand's Category folder name:
            </div>
            <%= f.text_field :name ,:style=>"margin-bottom:10px;"%>
<!--           </td>
        </tr>
        <tr>
          <td style="border:none;">
 -->             <div class="twitter_handle" style="font-size: 100%;font-weight: normal;">
              Brand's Twitter ID:
            </div>
            <%= f.text_field :twitter_handle, :style=>"margin-bottom:10px;"%>
<!--           </td>
        </tr>
        <tr>
          <td style="border:none;width: 130px;">
 -->            <div class="brand_logo" style="margin-bottom:10px;">
              Brand folder logo:
            </div>
            <div><%= image_tag @brand.logo.url(:thumb), :class => 'brand_logo' %></div>
<!--           </td>
          <td style="border:none;">
 -->            <%= f.file_field :logo, :style=>"margin-bottom:10px;"%>
<!--           </td>
        </tr>
        <tr>
          <td style="border:none;width: 130px;">
 -->            
<!--           </td>
        </tr>
        <tr>
          <td style="border:none;width: 130px;">

 -->        
 <div>    <%= submit_tag "Save Brand", :id => 'add_coupan' %></div>
<!--           </td>
        </tr>
      </table>
 -->    <% end %>


    <div class="offer-title"> <!-- Additional <span>Offers</span> --> </div>

    <% if !@additional_offers.nil? %>
      <% @additional_offers.each do |offer| %>

      <% end %>
    <% end %>

<%# @brand_folders.each do |folder| %>
<%# folder.ads.each do |ad| %>
<%# end %>
<%# end %>
  </div>
</div>

<table style="border:none;width:auto;position: absolute; margin-top: 340px;">
  <tbody style="width:945px;height: 340px;overflow-y:scroll;overflow-x:hidden;z-index: 10000004;position: absolute;">
    <tr>
      <% @brand_count = 0 %>
      <% @brand_count_else = 0 %>
      <% @brand.ads.each do |ad| %>
        <% if ad.ad_type == "url" && ad.status == true %>
          <% if !ad.url.nil? %>
            <th style="width:0px;border:none;">
              <div class="brand_edit">
                <% @url = ad.url %>
                <%  @brand_count += 1%>
                <%= link_to image_tag(ad.image_url , :size => "200x100" ), ad.url %>
              </div>
              <div style="margin-top:5px;text-align: center;">
                <%= link_to "Source URL ", ad.url, :id => "add_coupan",:target => "_blank" %>
              </div>
              <% @offer =  Offer.find_by_ad_id(ad.id) %>
              <% if @offer.present?  %>
                <div style="margin-top:5px;text-align: center;">
                  <%= link_to "Edit Coupon ", edit_coupans_path(@brand, :ad_id => ad.id, :coupan_id => @offer.id), :id => "add_coupan" %>
                </div>
                <% if !@offer.url.nil? %>
                  <div style="margin-top:5px;text-align: center;margin-left: 2px;" >
                    <%= link_to "View Coupon", @offer.url, :id => "add_coupan" , :target => "_blank" %>
                  </div>
                  <div class="brand_data del_offer brand_de" id="add_coupan" style="margin-left:37px;">
                    Delete Offer
          <%#= link_to "Delete Offer", ad , :confirm => 'Are you sure to delete this Offer?',:method => :delete , :id => "add_coupan"%>
                  </div>
                  <div class="delete_dialog hidden" style="margin-left:0px !important;margin-top:-225px !important;">
                    <div class="close_dialog_offer">X</div>
                    <div class="title" style="margin-left:10px;">Delete</div>
                    <div class="message-text">Delete this Offer?</div>
                    <%= link_to "Delete", ad, :class => 'delete_folder',:method => :delete %>
                  </div>
                <% else %>
                  <div style="margin-top:5px;text-align: center;height:25px;" >
                  </div>
                <% end %>
              <% else %>
                <div style="margin-top:42px;text-align: center;margin-left: -8px;">
                  <%= link_to "Add Coupon", new_coupans_path(@brand, :ad_id => ad.id), :id => "add_coupan",:style=>"margin-left: 9px;" %>
                </div>
                <div class="brand_data del_offer brand_de" id="add_coupan" style="margin-left:37px;">
                  Delete Offer
        <%#= link_to "Delete Offer", ad , :confirm => 'Are you sure to delete this Offer?',:method => :delete , :id => "add_coupan"%>
                </div>
                <div class="delete_dialog hidden" style="margin-left:0px !important;margin-top:-225px !important;">
                  <div class="close_dialog_offer">X</div>
                  <div class="title" style="margin-left:10px;">Delete</div>
                  <div class="message-text">Delete this Offer?</div>
                  <%= link_to "Delete", ad, :class => 'delete_folder',:method => :delete %>
                </div>
              <% end %>
            </th>
            <% if   @brand_count == 4 %>
            </tr>
            <tr>
              <% @brand_count = 0 %>
            <% end %>
          <% end %>
        <% else %>
          <%  if !ad.image_url.nil? && ad.status == true %>
            <%  @brand_count += 1 %>
            <th style="width:0px;border:none;">
              <div class="brand_edit">
                <%= link_to image_tag(ad.image_url,:size=>"200x150"), ad.url , :target => '_blank' %>
              </div>
              <div style="margin-top:5px;text-align: center;">
                <%= link_to "Source URL",ad.url, :id => "add_coupan",:target => "_blank" %>
              </div>
              <% @offer =  Offer.find_by_ad_id(ad.id) %>
              <% if @offer.present?  %>
                <div style="margin-top:5px;text-align: center;" >
                  <%= link_to "Edit Coupon", edit_coupans_path(@brand, :ad_id => ad.id, :coupan_id => @offer.id), :id => "add_coupan" %>
                </div>
                <%  if !@offer.url.nil? %>
                  <div style="margin-top:5px;text-align: center;margin-left: 2px;" >
                    <%= link_to "View Coupon", @offer.url ,:id => "add_coupan" , :target => "_blank" %>
                  </div>
                  <div class="brand_data del_offer brand_de" id="add_coupan">
                    Delete Offer
          <%#= link_to "Delete Offer", ad , :confirm => 'Are you sure to delete this Offer?',:method => :delete , :id => "add_coupan"%>
                  </div>
                  <div class="delete_dialog hidden" style="margin-left:0px !important;margin-top:-225px !important;">
                    <div class="close_dialog_offer">X</div>
                    <div class="title" style="margin-left:10px;">Delete</div>
                    <div class="message-text">Delete this Offer?</div>
          <%= link_to "Delete", ad, :class => 'delete_folder',:method => :delete %>
                  </div>
                <% end %>
              <% else %>
                <div style="margin-top:5px;text-align: center; margin-left: -8px;" >
                  <%= link_to "Add Coupon", new_coupans_path(@brand, :ad_id => ad.id), :id => "add_coupan" %>
                </div>
                <div class="brand_data del_offer brand_de" id="add_coupan" style="margin-left:37px;">
                  Delete Offer
        <%#= link_to "delete Offer", ad , :confirm => 'Are you sure to delete this Offer?',:method => :delete , :id => "add_coupan"%>
                </div>
                <div class="delete_dialog hidden" style="margin-left:0px !important;margin-top:-225px !important;">
                  <div class="close_dialog_offer">X</div>
                  <div class="title" style="margin-left:10px;">Delete</div>
                  <div class="message-text">Delete this Offer?</div>
                  <%= link_to "Delete", ad, :class => 'delete_folder',:method => :delete %>
                </div>
              <% end %>
            <% end %>
          </th>
          <% if  @brand_count == 4 %>
          </tr>
          <tr>
            <% @brand_count = 0 %>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>



<div class="right">
  <%= form_tag url_for(:controller => 'groups', :action => 'create'), :id => 'new_group', :class => 'hidden' do %>
    <%= hidden_field_tag 'brand[id]', @brand.id %>
    <div class="ad-url">Image Url</div>
    <%= text_field_tag "ad[image_url]" %>
    <div class="ad-url">Site Url</div>
    <%= text_field_tag "ad[url]" %>
    <%= hidden_field_tag "ad[brand_id]", @brand.id %>
    <div class="folder-name">
      <div class="category">
        <%= select_tag "tabcategory", options_from_collection_for_select(@category, "id", "name"), :prompt => "Select a category" %>
      </div>
    </div>
    <%= submit_tag "Add", :class => 'btn medium success add_ad' %>
  <% end %>
</div>

<script>
  $('.brand_de').click(function(event){
    event.preventDefault();
    $('.delete_dialog').addClass('hidden');
    var self = this;
    var del = $(self).next('.delete_dialog');
    $(del).removeClass('hidden');;
    $(self).next('.delete_dialog').removeClass('hidden');
  });
  $('.close_dialog_offer').click(function(event){
    $(this).parent().addClass('hidden');
  });
</script>
<style type="text/css">
  #add_coupan { min-width: 100px;}
</style>