<div class="content">
  <div class="brands">
<div style="margin-left:700px;">
<%= link_to "Back",admin_edit_path, :id =>'add_coupan' %>
</div>

    <ul class="unstyled">
      <% @brands.each do |brand| %>
        <li>
          <%= form_for brand do |f| %>
            <table class="brand_table">

              <tr>
                <td class="brand_name_data">  <%= brand.name %> </td>
                <td class="brand_data"> <%= link_to 'View', brand_path(brand), :id => 'add_coupan' %> </td>
                <td class="brand_data">  <%= link_to 'Edit', edit_brand_path(brand), :id => 'add_coupan' %></td>
                <td class="brand_data">	<%= link_to 'Delete', brand, :confirm => 'Are you sure you want to destroy your brand?', :method => :delete, :id => 'add_coupan' %></td>
              </tr>
            </table>
          <% end %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
