<!DOCTYPE html>
<html>
  <head>
    <title>FabTab</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <meta property="og:image" content="http://fabtab.com/assets/fb_fabtab_logo.png"></meta>
    <%= render :partial => 'layouts/googleanalytics' %>
  </head>
  <body>
    <div class="topbar">
      <div class="container">
        <div id='mft_logo'><a class="brand" href="/index"><%= image_tag('/assets/FabTab-LOGObeta.png',:style=>"width: 220px; height: 70px;") %></a></div>
        <%= render :partial => 'layouts/navbar' %>
        <%= yield(:toolbar) %>
      </div>
    </div>
    <div class="container main">

      <div class="settings">
        <div class="left-margin">
          <div class="nav_arrow"></div>
          <div class="links settings-link"><%= link_to "My Settings", '/user/settings' %></div>
          <div style="margin-left:45px;margin-top:40px;"><%= link_to "Help",'/help' %></div>
          <div style="margin-left:45px;"><%= link_to "Tab It Button", '/tabit' %></div>
          <div style="margin-left:45px;"><%= link_to "Team & Contact", '/team' %></div>
          <div style="margin-left:45px;"><%= link_to "Terms", '/terms' %></div>
          <div class="links logout"><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %></div>
        </div>
        <%= yield %>
      </div>
    </div>
    <div class='container'>
      <footer class='new'>
        <p>&copy; Copyright MyFabTab Inc 2011-2013</p>
      </footer>
    </div>
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/cYPrkIzxmmj4HwwxOawg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  </body>
</html>


